<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570776676639-9rdoms92on4v2qh3f4kmaeqjcdjc02l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570776676639-9rdoms92on4v2qh3f4kmaeqjcdjc02l8</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhw1TQTXvv-Sszl3yGiRfbZwiaAZrTGE</string>
	<key>GCM_SENDER_ID</key>
	<string>570776676639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RiverMccaine.groupCycle</string>
	<key>PROJECT_ID</key>
	<string>groupcyclechat</string>
	<key>STORAGE_BUCKET</key>
	<string>groupcyclechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570776676639:ios:20417b5b6a8c28eec3282a</string>
</dict>
</plist>